
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.skip {
  position: absolute;
  z-index: 999;
  background-color: hsl(var(--clr-white));
  color: hsl(var(--clr-dark));
  padding: 0.5em 1em;
  margin-inline: auto;
  transition: transform 500ms ease-in-out;
  transform: translateY(-100%);

  &:focus {
    transform:  translateY(0%);
    outline: none;
  }
}


