@use '../abstract' as *;

@each $screen, $sizes in $typo {
  @if $screen == 'default' {
    @each $p, $v in $sizes {
      .fs-#{$p} {
        font-size: #{$v};
      }
    }
  } @else if $screen == mobile {
    @include mq-min(mobile) {
      @each $p, $v in $sizes {
        .fs-#{$p} {
          font-size: #{$v};
        }
      }
    }
  } @else if $screen == desktop {
    @include mq-min(desktop) {
      @each $p, $v in $sizes {
        .fs-#{$p} {
          font-size: #{$v};
        }
      }
    }
  }
}

@each $prop, $val in $family {
  .ff-#{$prop} {
    font-family: #{$val};
  }
}

.letter-spacing-1 {
  letter-spacing: var(--letter-spacing-1);
}

.letter-spacing-2 {
  letter-spacing: var(--letter-spacing-2);
}

.letter-spacing-3 {
  letter-spacing: var(--letter-spacing-3);
}

.uppercase {
  text-transform: uppercase;
}

.numbered-title {
  font-size: var(--fs-500);
  text-transform: uppercase;
  font-family: var(-ff-sans-cond);
  letter-spacing: var(--letter-spacing-1);

  & span {
    margin-right: 0.5em;
    color: hsl(var(--clr-white) / 0.25);
    font-weight: 700;
  }
}