@use '../abstract' as *;

.primary-navigation {
  --gap: 8rem;
  --underline-gap: 2.375rem;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;

  a {
    text-decoration: none;

    > span {
      font-weight: 700;
      margin-right: 0.5em;
    }
  }
}