@use '../abstract' as *;

.home {
  background-image: url(../../../assets/home/background-home-mobile.jpg);

  @include mq-min(mobile) {
    background-position: center center;
    background-image: url(../../../assets/home/background-home-tablet.jpg);
  }

  @include mq-min(desktop) {
    background-image: url(../../../assets/home/background-home-desktop.jpg);
  }
}